@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f23;
  color: #e2e8f0;
}

/* Remove number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
